.ce_main {
    position: fixed;
    top: 5px;
    right: 10px;
    width: 20%;
    height: 40%;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 9999;
}

#ce_logo {
    width: 10%;
    height: 2px;
}

#ce_summary {
    height: 60%;
    padding: 0px;
    padding-left: 0px;
    padding-top: 0px;
    box-sizing: border-box;
    overflow-y: auto;
    font-size: 14px !important;
}

#ce_ad_container {
    height: fit-content;
    width: fit-content;
    padding-top: 10px;
}

#ce_ad_img {
    object-fit: contain;
}

ul {
    padding-left: 22px;
}