.ce_main {
    border: 0.5px solid lightgray;
    margin: 30px 0;
    box-shadow: 0 20px 45px -15px #000;
    position: fixed;
    top: 5px;
    right: 10px;
    width: 385px;
    height: 410px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 0px;
    box-sizing: border-box;
    z-index: 9999;
}

#ce_logo {
    width: 10%;
    height: 2px;
}

#ce_summary {
    height: 60%;
    padding: 0px;
    padding-left: 0px;
    padding-top: 0px;
    box-sizing: border-box;
    overflow-y: auto;
    font-size: 16px !important;
}

#ce_ad_container {
    height: fit-content;
    width: fit-content;
    padding-top: 10px;
}

#ce_ad_img {
    object-fit: contain;
}

ul {
    padding-left: 22px;
}